*{
    margin:0;
    padding:0; 
    box-sizing: border-box;                 
}
#thumbs{
    width: 50%;
}
#BigImageBox{
    width: 50%;
}
#carGallery {
    display: flex;
    flex-wrap: wrap;
  
}
.imgTile {
      width: 30%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
#BigImage {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover; bevarer propotioner og beskære om nødvendigt
}
